@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@font-face {
  font-family: "NeoEular";
  src: url("./resources/NeoEuler-VGO00.otf");
}

* {
  font-family: "Bungee", cursive;
}

body {
  background-color: #111;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

/* button (+ transition) */
button {
  display: inline-block;
  border: 0;
  background-color: #bbb;
  text-align: center;
  vertical-align: middle;
}

button:not(:hover):not(.cannotClick) {
  transition-duration: 0.2s;
  background-color: #aaa;
  box-shadow: 0 0 0 2px #000 inset;
}

button:hover:not(.cannotClick) {
  transition-duration: 0.3s;
  background-color: #777;
  cursor: pointer;
}

/* tabs  */
.tabNav {
  display: inline-block;
  margin: 10px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 1em;
  cursor: pointer;
}

.tabNav:not(:hover):not(.selected) {
  transition-duration: 0.2s;
  background-color: #999;
  box-shadow: 0 0 0 2px #000 inset;
}

.tabNav:hover:not(.selected) {
  transition-duration: 0.3s;
  background-color: #777;
  cursor: pointer;
}

.tabNav.selected {
  background-color: #ddd;
  cursor: default;
}

.tab {
  height: 40vh;
  border: 2px solid;
  background-color: #999;
  overflow: auto;
}

.title {
  text-align: center;
  position: sticky;
  flex-basis: 100%;
}

/* shop */
#shopItems {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
}

.shopItem {
  margin: 5%;
}

.exp {
  font-family: "NeoEular", Bungee;
  font-size: 1.5em;
}

.shopItem.clicked {
  background-color: #ddd;
}

/* options */
#options {
  text-align: center;
}

/* inventory */
#inventory {
  margin-top: 5vh;
}

#resourceDisplayer {
  margin-left: 1em;
}

#invItems {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.invItem {
  margin: 5%;
}

#bottomBar {
  text-align: right;
  margin-right: 0.5vw;
  margin-top: 0.5vh;
}
