@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@font-face {
  font-family: "NeoEular";
  src: url("./resources/NeoEuler-VGO00.otf");
}

* {
  font-family: "Bungee", cursive;
  margin: 0;
}

body {
  background-color: #111;
}

/* button (+ transition) */
button {
  display: inline-block;
  border: 0;
  background-color: #bbb;
  text-align: center;
  vertical-align: middle;
}

button:focus {
  outline: 0;
}

button:not(:hover):not(.cannotClick) {
  transition-duration: 0.2s;
  background-color: #aaa;
  box-shadow: 0 0 0 2px #000 inset;
}

button:hover:not(.cannotClick) {
  transition-duration: 0.3s;
  background-color: #777;
  cursor: pointer;
}

/* tabs  */
.tabNav {
  display: inline-block;
  margin: 10px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 1em;
  cursor: pointer;
}

.tabNav:not(:hover):not(.selected) {
  transition-duration: 0.2s;
  background-color: #999;
  box-shadow: 0 0 0 2px #000 inset;
}

.tabNav:hover:not(.selected) {
  transition-duration: 0.3s;
  background-color: #777;
  cursor: pointer;
}

.tabNav.selected {
  background-color: #ddd;
  cursor: default;
}

.tab {
  height: 40vh;
  border: 2px solid;
  background-color: #999;
  overflow: auto;
}

.title {
  text-align: center;
  position: sticky;
}

/* shop */
#shopItems {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
}

.shopItem {
  margin: 5%;
}

.exp {
  font-family: "NeoEular";
  font-size: 1.5em;
}

.exp sup {
  font-family: "NeoEular";
  font-size: 0.5em;
}

.shopItem.clicked {
  background-color: #ddd;
}

/* upgrades */
#upgradesGrid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#upgradesGrid .upgrade {
  line-height: 2em;
  margin: 5%;
  margin-top: 0;
}

#upgradesGrid .upgrade .max {
  background-color: #ddd;
}

.buyUpgrade {
  width: 77%;
}

.sellUpgrade {
  width: 20%;
  margin-left: 3%;
}

/* prestige */
#prestige {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#prestigeButton {
  width: 90%;
  margin: 0% 5% 0% 5%;
  height: 3em;
}

#ppUpgrades {
  display: flex;
  line-height: 2em;
  margin: 3% 5% 3% 5%;
  flex-grow: 1;
}

#ppUpgrades > h4 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: 3%;
}

#ppUpgradeGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
}

#ppUpgradeGrid .upgrade {
  margin: 3%;
  margin-bottom: 2.9%;
}

.ppUpgrade {
  width: 100%;
  height: 100%;
}

.ppUpgrade .max {
  background-color: #ddd;
}

/* options */
#options {
  text-align: center;
}

/* inventory */
#inventory {
  margin-top: 5vh;
}

#displayer {
  margin-left: 1em;
  display: grid;
  grid-auto-flow: column;
}

#displayer > .pp {
  grid-column: 2 / 6;
}

#invItems {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.invItem {
  margin: 5%;
}

#bottomBar {
  text-align: right;
  margin-right: 0.5vw;
  margin-top: 0.5vh;
}
