@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@font-face {
  font-family: "NeoEular";
  src: url("./resources/NeoEuler-VGO00.otf");
}

* {
  font-family: "Bungee", cursive;
}

.title {
  text-align: center;
  position: sticky;
  margin-top: 0;
  flex-basis: 100%;
}

.canClick:not(:hover) {
  transition-duration: 0.2s;
  background-color: #aaa;
  box-shadow: 0 0 0 2px #000 inset;
}

.canClick:hover {
  transition-duration: 0.3s;
  background-color: #777;
  cursor: pointer;
}

#shop {
  height: 40vh;
  margin-top: 5vh;
  border-style: solid;
  background-color: #999;
  overflow: auto;
}

#shopItems {
  display: grid;
  grid-template-columns: 50% 50%;
}

.shopItem {
  display: inline-block;
  margin: 5%;
  width: 90%;
  border: 0;
  background-color: #bbb;
  text-align: center;
  vertical-align: middle;
}

.shopItem.unlocked {
  font-family: "NeoEular", Bungee;
  font-size: 1.5em;
}

.shopItem.clicked {
  background-color: #ddd;
}

#inventory {
  height: 40vh;
  margin-top: 5vh;
  border-style: solid;
  background-color: #999;
  overflow: auto;
}

#invItems {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.invItem {
  display: inline-block;
  margin: 5%;
  border: 0;
  background-color: #bbb;
  text-align: center;
  vertical-align: middle;
}
